#!/bin/python
from pysphere import VIServer, VITask
server = VIServer()
server.connect("VCENTER_IP", "USER@FQDN", "PASSWORD")
vm = server.get_vm_by_name("{{inventory_hostname_short}}")
OShostname = vm.get_property("hostname")
vm.rename(OShostname,sync_run=False)